.base-button {
  width: 100%;

  border: none;
  border-radius: 12px;

  color: var(--color-white-smoke);

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: var(--text-fs-l);
  line-height: var(--text-lh-l);

  padding: 0;

  box-sizing: border-box;
}
.promo__email-input-button {
  max-width: 94px;
  min-height: 44px;
}
.offers__button {
  max-width: 116px;
  min-height: 42px;

  font-size: var(--text-fs-m);
  line-height: var(--text-lh-m);

  transition: all 0.3s ease-in-out;
}
.header__close-btn {
  width: 18px;
  height: 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 18px;
  right: 14px;
}
.header__close-btn img {
  width: 100%;
}

@media (max-width: 475px) {
  .base-button {
    font-size: var(--text-fs-s);
    line-height: var(--text-lh-s);
  }
  .promo__email-input-button {
    max-width: 71px;
    min-height: 39px;
  }
}