/* Consts */
:root {
  /* Text font-sizes & line-heights */
  --text-fs-xxxl: 48px;
  --text-lh-xxxl: 72px;

  --text-fs-xxl: 36px;
  --text-lh-xxl: 53px;

  --text-fs-xl: 24px;
  --text-lh-xl: 36px;

  --text-fs-l: 18px;
  --text-lh-l: 27px;

  --text-fs-m: 16px;
  --text-lh-m: 24px;

  --text-fs-s: 14px;
  --text-lh-s: 21px;
  --text-lh-s-smaller: 17px;

  --text-fs-xs: 12px;
  --text-lh-xs: 18px;

  --text-fs-xxs: 10px;
  --text-lh-xxs: 15px;

  /* Colors */
  --color-night-rider: #333333;
  --color-summer-sky: #2D9CDB;
  --color-matterhorn: #4F4F4F;
  --color-grey: #828282;
  --color-silver: #BDBDBD;
  --color-white-smoke: #F2F2F2;
  --color-jungle-green: #27AE60;
  --color-burnt-sienna: #EB5757;
  --color-sea-gainsboro: #E0E0E0;
  --color-midnight-express: #100E1D;
  --color-white: white;
  --color-black: black;
}

/* Text */
.page-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
}

/* Text colors */
.color-night-rider {
  color: var(--color-night-rider);
}
.color-summer-sky {
  color: var(--color-summer-sky);
}
.color-matterhorn {
  color: var(--color-matterhorn);
}
.color-grey {
  color: var(--color-grey);
}
.color-white-smoke {
  color: var(--color-white-smoke);
}
.color-black {
  color: var(--color-black);
}
.color-silver {
  color: var(--color-silver);
}
.color-burnt-sienna {
  color: var(--color-burnt-sienna);
}

/* Background colors */
.background-summer-sky {
  background-color: var(--color-summer-sky);
}
.background-jungle-green {
  background-color: var(--color-jungle-green);
}
.background-burnt-sienna {
  background-color: var(--color-burnt-sienna);
}
.background-white-smoke {
  background-color: var(--color-white-smoke);
}
.background-sea-gainsboro {
  background-color: var(--color-sea-gainsboro);
}

/* Text decorations */
.text-bold {
  font-weight: 700;
}
.text-semi-bold {
  font-weight: 500;
}
.text-light {
  font-weight: 300;
}
.text-underline {
  text-decoration: underline;
}