.footer-wrapper {
  width: 100%;
  height: 385px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 118px;
}
.footer-container {
  width: 100%;
  max-width: 1110px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-top: 36px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  gap: 12px;

  margin-right: 245px;
}
.footer__nav-item {
  font-size: var(--text-fs-l);
  line-height: var(--text-lh-l);

  text-decoration: none;
}
.footer__social-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  
  flex-grow: 1;

  gap: 8px;
}
.footer__socials-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  gap: 11px;
}
.footer__social-item {
  width: 24px;
  min-width: 24px;
  aspect-ratio: 1 / 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__social-item img {
  width: 100%;
}

@media (max-width: 1280px) {
  .footer-container {
    width: calc(100% - 200px);
    max-width: unset;
  }
}

@media (max-width: 475px) {
  .footer-wrapper {
    height: auto;
  
    gap: 154px;
  }
  .footer-container {
    margin-left: 41px;
  }
  .footer__nav {
    width: 100%;
    margin-right: 0;
    margin-bottom: 64px;
  }
  .footer__social-wrapper {
    margin-bottom: 65px;
  }
}