.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-wrapper {
  width: 100%;
  max-width: 1332px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.inner-content-wrapper {
  width: 100%;
  max-width: 1110px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}
.double-inner-content-wrapper {
  width: 100%;
  max-width: 886px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.disabled {
  display: none;
}
.overflow-disabled {
  overflow: hidden;
}

@media (max-width: 1440px) {
  .content-wrapper {
    max-width: calc(100% - 100px);
  }
}

@media (max-width: 978px) {
  .double-inner-content-wrapper {
    max-width: 700px;
  }
}

@media (max-width: 800px) {
  .double-inner-content-wrapper {
    max-width: 520px;
  }
}

@media (max-width: 475px) {
  .content-wrapper {
    max-width: 100%;

    padding-left: 10px;
    padding-right: 14px;
    box-sizing: border-box;
  }

  .double-inner-content-wrapper {
    max-width: 100%;

    padding-left: 25px;
    box-sizing: border-box;
  }
}